@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-primary bg-tertiary overflow-x-hidden;
}

.stroke-text {
	-webkit-text-fill-color: none;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #003b33;
}

.stroke-text-odd {
	-webkit-text-fill-color: none;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #cd9564;
}

.stroke-text-hero {
	-webkit-text-fill-color: none;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fafafa;
}

.card-shadow {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-shadow-inset {
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
		rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.transition-width {
	transition-property: width;
}
