@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply overflow-x-hidden;
}
body {
	@apply font-primary;
}

/* .title::after {
	content: "MAGHFIRAH SEKAR HILMA";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	-webkit-text-fill-color: none;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #f4d8c2;
	letter-spacing: 0.1em;
} */

.stroke-text {
	-webkit-text-fill-color: none;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #003b33;
}
