@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-primary overflow-x-hidden;
}

.stroke-text {
	-webkit-text-fill-color: none; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #003b33;
}
